@mixin border-radius($radio){
	-ms-border-radius: $radio;
	-webkit-border-radius: $radio;
	-moz-border-radius: $radio;
	-o-border-radius: $radio;
	border-radius: $radio;
}

@mixin box-shadow($x, $y, $blur, $color-box){
	-ms-box-shadow: $x $y $blur $color-box;
	-webkit-box-shadow: $x $y $blur $color-box;
	-moz-box-shadow: $x $y $blur $color-box;
	-o-box-shadow: $x $y $blur $color-box;
	box-shadow: $x $y $blur $color-box;
}

@mixin btn($diametro, $color){
	display: inline-block;
	width: $diametro;
	height: $diametro;
	@include border-radius(50%);
}

.btn-fill{
	user-select: none;
	@include btn(65px,#fff);
	background: #fff;
	@include box-shadow(0, 8px, 8px, rgba(0, 0, 0, .2));
	border: 1px solid #fff;
	cursor: pointer;
	transition: all .2s ease-in-out;
	&:hover{
		transform: scale(1.1, 1.1);
	}
}

// .btn-outline{
// 	content: '';
// 	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMzBweCIgaGVpZ2h0PSIxMzBweCIgdmlld0JveD0iMTYwLjUgMCAxMzAgMTMwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDE2MC41IDAgMTMwIDEzMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBmaWxsPSIjNjdBNUJBIiBwb2ludHM9IjI3OS4xLDUzLjYgMjMzLjYsOTkuMSAyMzMuNiwwIDIxNy40LDAgMjE3LjQsOTkuMSAxNzEuOSw1My42IDE2MC41LDY1IDIyNS41LDEzMCAyOTAuNSw2NSAiLz4NCjwvc3ZnPg0K');
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: auto 24px;
// 	transform: rotate(-90deg);
// 	padding: 10px;
// 	position: relative;
// 	margin: 50px 0 0;
// 	cursor: pointer;
// 	@include btn(65px,none);
// 	border: 1px solid $ba-secondary;
// 	outline: none;
// 	transition: all .3s ease;
// 	&:hover{
// 		transform: rotate(270deg);
// 	}
// }
