footer{
	display: flex;
	justify-content: space-between;
	background: linear-gradient(45deg, #7EC9BA, $ba-secondary);
	color: #fff;
	width: 100vw;
	text-align: center;
	.iso{
		fill: #fff;
		width: 25px;
		user-select: none;
		margin: 20px 20px 0;
	}
	p, address{
		margin: 0 10px 10px;
		display: inline-block;
		font-size: 14px;
		line-height: 14px;
		font-weight: 300;
	}
}
