footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(45deg, #7EC9BA, $ba-secondary);
	color: #fff;
	width: 100vw;
	.iso{
		fill: #fff;
		width: 36px;
		user-select: none;
	}
	p, address{
		display: inline-block;
		font-size: 16px;
		line-height: 1.1em;
		font-weight: 300;
	}
	.copyright {
		font-size: 14px;
	}
	a {
		color: $ba-white;
		&:hover{
			text-decoration: underline;
		}
	}
}
