@mixin border-radius($radio){
	-ms-border-radius: $radio;
	-webkit-border-radius: $radio;
	-moz-border-radius: $radio;
	-o-border-radius: $radio;
	border-radius: $radio;
}

@mixin box-shadow($x, $y, $blur, $color-box){
	-ms-box-shadow: $x $y $blur $color-box;
	-webkit-box-shadow: $x $y $blur $color-box;
	-moz-box-shadow: $x $y $blur $color-box;
	-o-box-shadow: $x $y $blur $color-box;
	box-shadow: $x $y $blur $color-box;
}

@mixin btn($diametro, $color){
	display: inline-block;
	width: $diametro;
	height: $diametro;
	@include border-radius(50%);
}

.status{
	content: '';
	padding: 10px;
	@include btn(65px,none);
	&.sent{
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xNDM1LjYgMzEzMy45IDE3MC42IDEzMCI+PHBvbHlnb24gcG9pbnRzPSItMTI3OC40IDMxMzMuOSAtMTM4MS4xIDMyMzYuNiAtMTQyMi4zIDMxOTYgLTE0MzUuNiAzMjA5LjMgLTEzODEuMSAzMjYzLjkgLTEyNjUgMzE0Ny4yICIgZmlsbD0iIzdFQzlCQSIvPjwvc3ZnPgo=');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	border: 1px solid #7EC9BA;
	}
	&.not-sent{
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii03NDkuNyA3ODEuNiAxMzAgMTMwIj48cG9seWdvbiBwb2ludHM9Ii02MTkuNyA3OTQuNiAtNjMyLjcgNzgxLjYgLTY4NC43IDgzMy42IC03MzYuNyA3ODEuNiAtNzQ5LjcgNzk0LjYgLTY5Ny43IDg0Ni42IC03NDkuNyA4OTguNiAtNzM2LjcgOTExLjYgLTY4NC43IDg1OS42IC02MzIuNyA5MTEuNiAtNjE5LjcgODk4LjYgLTY3MS43IDg0Ni42ICIgZmlsbD0iI0Q4NDMxNSIvPjwvc3ZnPgo=');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 24px;
	border: 1px solid $ba-pop;
	}
}
