@import "normalize";
@import "palette";

@mixin border-radius($radio){
	-ms-border-radius: $radio;
	-webkit-border-radius: $radio;
	-moz-border-radius: $radio;
	-o-border-radius: $radio;
	border-radius: $radio;
}

@mixin box-shadow($x, $y, $blur, $color-box){
	-ms-box-shadow: $x $y $blur $color-box;
	-webkit-box-shadow: $x $y $blur $color-box;
	-moz-box-shadow: $x $y $blur $color-box;
	-o-box-shadow: $x $y $blur $color-box;
	box-shadow: $x $y $blur $color-box;
}

@mixin btn($diametro, $color){
	display: inline-block;
	width: $diametro;
	height: $diametro;
	@include border-radius(50%);
}

@-webkit-keyframes moveBg{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes moveBg{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes moveBg{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes moveBg{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

*{
	box-sizing: border-box;
}

html{
	background: $ba-ether;
	-webkit-font-smoothing: antialiased;
}

body{
	min-width: 300px;
	margin: auto;
	flex-direction: column;
	font-family: 'Roboto Condensed', sans-serif;
}

body, section, footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a{
	text-decoration: none;
}

.container{
	width: 80%;
	margin: auto;
}

.top, .bottom.main{
	height: 100vh;
}

.arrow{
	height: 24px;
	margin: 19px;
	fill: $ba-secondary;
}

.top{
	background: linear-gradient(45deg, $ba-secondary, #7EC9BA);
	background-size: 400% 400%;
	-webkit-animation: moveBg 30s ease infinite;
	-moz-animation: moveBg 30s ease infinite;
	-o-animation: moveBg 30s ease infinite;
	animation: moveBg 30s ease infinite;
	width: 100vw;
	min-height: 600px;
	text-align: center;
	color: #fff;
	font-weight: 300;
	.container{
		.logo{
			fill: #fff;
			user-select: none;
			width: 300px;
			margin: 62px 0;
		}
		h1{
			font-size: 30px;
			font-weight: 300;
			margin-bottom: 32px;
		}
		.btn-fill{
			user-select: none;
			@include btn(65px,#fff);
			background: #fff;
			@include box-shadow(0, 8px, 8px, rgba(0, 0, 0, .2));
			border: 1px solid #fff;
			cursor: pointer;
			transition: all .2s ease-in-out;
			&:hover{
				transform: scale(1.1, 1.1);
			}
		}
	}
}

.bottom{
	background: #fff;
	.main{
		display: flex;
		justify-content: space-between;
		h3{
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			color: $ba-ether;
			margin-bottom: 46px;
		}
		.about, .contact{
			box-sizing: border-box;
			padding: 20px 0;
			display: inline-block;
		}
		.about{
			width: 50%;
			.content p{
				font-size: 18px;
				line-height: 24px;
				font-weight: 300;
				color: $ba-primary;
				margin-bottom: 20px;
				display: inline-block;
			}
		}
		.contact{
			width: 40%;
			form{
				display: flex;
				flex-direction: column;
				.info{
					position: relative;
					height: auto;
				}
			}
			label{
				pointer-events: none;
				position: absolute;
				left: 0;
				top: 18px;
				font-size: 16px;
			    font-weight: 300;
			    color: rgba($ba-primary, .5);
			    transition: all 0.2s ease;
			}
			.vi-text:focus + label, .vi-text.vi-not-empty + label{
	    		transform: translate(0, -20px);
	    		font-size: 12px;
	    	}
			input{
				padding-top: 9px;
				margin-bottom: 8px;
				height: 40px;
			}
			input, textarea{
				margin-left: 0;
				padding-left: 0;
				width: 100%;
				font-family: 'Roboto Condensed', sans-serif;
				@include border-radius(0);
				border-top: none;
				border-right: none;
				border-left: none;
				border-bottom: 1px solid rgba($ba-primary, .5);
				outline: none;
				transition: all .3s ease;
				color: $ba-primary;
				font-size: 16px;
				font-weight: 400;
				&:focus{
					border-bottom: 1px solid $ba-pop;
				}
			}
			textarea{
				position: relative;
				top: 40px;
				resize: none;
				padding: 0;
			}
			input[type=submit]{
				border: 0;
				outline: none;
				padding: 0;
				margin: 0;
				height: 0;
			}
			.btn-outline{
				position: relative;
				margin: 50px 0 0;
				cursor: pointer;
				@include btn(65px,none);
				border: 1px solid $ba-secondary;
				transition: all .3s ease;
				.arrow{
					transform: rotate(-90deg);
				}
				&:hover{
					transform: rotate(360deg);
				}
			}
		}
	}
}

footer{
	background: linear-gradient(45deg, #7EC9BA, $ba-secondary);
	color: #fff;
	width: 100vw;
	text-align: center;
	.iso{
		fill: #fff;
		width: 35px;
		user-select: none;
		margin-top: 25px;
	}
	p{
		font-size: 12px;
		font-weight: 300;
		margin: 10px 0 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.top .container{
		.logo{
			width: 250px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	.top .container{
		h1{
			font-size: 38px;
			line-height: 46px;
			.media-br{
				display: block;
			}
		}
	}
	.bottom .main{
		flex-direction: column;
		align-items: center;
		h3{
			text-align: center;
			font-size: 20px;
			margin-bottom: 26px;
		}
		.about, .contact{
			width: 100%;
		}
		.about .content p{
			margin-bottom: 12px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (min-width: 300px) and (max-width: 767px) and (orientation: landscape){
	.top{
		min-height: 300px;
	}
	.top .media-hide{
		display: none;
	}
	.top .container{
		.logo{
			width: 150px;
			margin: 30px 0;
		}
		h1{
			font-size: 24px;
			line-height: 30px;
		}
	}
	.bottom{
		height: auto;
		.main{
			flex-direction: column;
			align-items: center;
			h3{
				text-align: center;
				margin-bottom: 16px;
			}
			.about, .contact{
				width: 100%;
			}
			.about .content p{
				margin-bottom: 10px;
				font-size: 16px;
				line-height: 22px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			.contact form{
				textarea{
					height: 100px;
				}
				.btn-outline{
					@include btn(45px,none);
					.arrow{
						height: 18px;
						margin: 13px;
					}
				}
			}
		}
		footer{
			.iso{
				display: none;
			}
			p{
				margin: 10px 0;
			}
		}
	}
}

@media screen and (min-width: 300px) and (max-width: 767px) and (orientation: portrait){
	.top .media-hide{
		display: none;
	}
	.top .container{
		.logo{
			width: 150px;
			margin: 30px 0;
		}
		h1{
			font-size: 24px;
			line-height: 30px;
		}
	}
	.bottom{
		height: auto;
		.main{
			flex-direction: column;
			align-items: center;
			h3{
				text-align: center;
				margin-bottom: 16px;
			}
			.about, .contact{
				width: 100%;
			}
			.about .content p{
				margin-bottom: 10px;
				font-size: 16px;
				line-height: 22px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			.contact form .btn-outline{
				@include btn(45px,none);
				.arrow{
					height: 18px;
					margin: 13px;
				}
			}
		}
		footer{
			.iso{
				display: none;
			}
			p{
				margin: 10px 0;
			}
		}
	}
}
