@import "normalize";
@import "palette";

@mixin border-radius($radio){
	-ms-border-radius: $radio;
	-webkit-border-radius: $radio;
	-moz-border-radius: $radio;
	-o-border-radius: $radio;
	border-radius: $radio;
}

@mixin box-shadow($x, $y, $blur, $color-box) {
	-ms-box-shadow: $x $y $blur $color-box;	
	-webkit-box-shadow: $x $y $blur $color-box;
	-moz-box-shadow: $x $y $blur $color-box;
	-o-box-shadow: $x $y $blur $color-box;
	box-shadow: $x $y $blur $color-box;
}

@mixin btn($diametro, $color){
	display: inline-block;
	width: $diametro;
	height: $diametro;
	@include border-radius(50%);
}

html{
	background: $BAprimary-color;
}

body{
	margin: auto;
	flex-direction: column;
	font-family: 'Roboto Condensed', sans-serif;
}

body, header, section, footer{
	display: flex;
	justify-content: space-between;
}

.container{
	width: 90%;
	margin: auto;
}

a{
	text-decoration: none;
}

.arrow{
	width: 18px;
	height: 18px;
	padding: 13.5px;
}

header{
	flex-direction: column;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 300;
	.container{
		padding: 2% 0;
		a img{
			user-select: none;
			width: 300px;
			margin: 62px 0;
		}
		h1{
			font-size: 30px;
			font-weight: 300;			
			margin-bottom: 32px;
		}
		.btn-fill{
			user-select: none;
			@include btn(45px,#fff);
			background: #fff;
			@include box-shadow(0, 8px, 8px, rgba(0, 0, 0, .2));
			border: 1px solid #fff;			
			margin: 10px;
			cursor: pointer;
			transition: all .2s ease-in-out;
			&:hover{
				transform: scale(1.1, 1.1);
			}
		}
	}	
}

section{
	background: #fff;
	.container{
		display: flex;
		justify-content: space-between;
	}
	h3{
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 14px;		
		font-weight: 700;
		color: $BAsecondary-color;		
		margin-bottom: 46px;
	}
	.s-left, .s-right{
		padding: 5% 0 2%;
		display: inline-block;
	}
	.s-left{
		width: 50%;
		.content{
			p{
				font-size: 18px;
				line-height: 24px;
				font-weight: 300;
				color: $BAprimary-color;
				margin-bottom: 20px;
				display: inline-block;
			}
			:first-child{
				margin-bottom: 0;
			}
		}	
	}
	.s-right{
		width: 40%;
		form{
			display: flex;
			flex-direction: column;
		}
	}
	form{
		label{
			position: relative;
			top: -26px;
			font-size: 18px;
			font-weight: 300;
			color: $BAtext-color;
		}
		.lb-txt{
			top: 0px;
		}
		input, textarea{
			padding: 0 0 6px 0;
			font-family: 'Roboto Condensed', sans-serif;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 2px solid $BAtext-color;
			outline: none;
			transition: all .3s ease;
			color: $BAsecondary-color;
			font-size: 18px;
			font-weight: 300;
			&:focus{
				border-bottom: 2px solid $BAsecondary-color;
			}
		}
		textarea{
			resize: none;
		}
		input[type=submit]{
			background: none;
			border: none;
			margin-top: 25px;
			&:hover{
				color: $BAsecondary-color;
			}
		}
		.btn-outline{
			cursor: pointer;
			position: relative;
			bottom: 30px;
			@include btn(45px,none);
			border: 1px solid $BAprimary-color;
			transition: all .3s ease;
			.arrow{
				transform: rotate(-90deg);
			}
			&:hover{
				border: 1px solid $BAsecondary-color;
			}
		}
	}
}

footer{
	color: #fff;
	width: 100%;
	flex-direction: column;
	text-align: center;
	background: $BAprimary-color;
	a img{
		cursor: pointer;
		user-select: none;
		width: 35px;
		user-select: none;
		margin-top: 25px;
		opacity: .8;
		transition: all .3s ease;
		&:hover{
			opacity: 1;
		}
	}
	p{
		font-size: 12px;
		font-weight: 300;
		margin: 10px 0 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	header .container{
		padding: 10% 0 2%;
		a img{
			width: 250px;
		}
	}
	section .s-left, section .s-right{
		padding: 10% 0 5%;
	}
	footer{
		a img{
			margin-top: 35px;
		}
		p{
			margin-bottom: 32px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	.container{
		width: 80%;
	}
	header .container{
		padding: 20% 0 5%;
		h1{ 
			font-size: 38px;
			line-height: 46px;
			.media-br{
				display: block;
			}
		}	
	}	
	section .container{
		flex-direction: column;
		align-items: center;
		h3{
			text-align: center;
			font-size: 20px;
		}
	}
	section .s-left, section .s-right{
		width: 100%;
		padding: 10% 0 0;
	}
	section .s-left .content p{
		font-size: 20px;
		line-height: 26px;
		:last-child{
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 767px) and (orientation: landscape){
	.container{
		width: 80%;
	}
	header .media-hide{
		display: none;
	}
	header .container{
		padding: 6% 0;
		a img{
			width: 150px;
			margin: 35px 0;
		}
		h1{
			font-size: 24px;
			line-height: 30px;
		}
	}
	section .container{
		flex-direction: column;
		align-items: center;
		h3{
			text-align: center;
			margin-bottom: 26px;
		}
	}
	section .s-left, section .s-right{
		width: 100%;
		padding: 5% 0 0;
	}
	section .s-left .content p{
		margin-bottom: 10px;
		:last-child{
			margin-bottom: 0;
		}
	}
	section .s-right form{
		label, input{
			font-size: 16px;
		}
		textarea{
			height: 110px;
		}
	}	
}

@media screen and (max-width: 767px) and (orientation: portrait){	
	.container{
		width: 80%;
	}
	header .media-hide{
		display: none;
	}
	header .container{
		padding: 47% 0;
		a img{
			width: 150px;
			margin: 30px 0;
		}
		h1{
			font-size: 24px;
			line-height: 30px;
			.media-br{
				display: block;
			}
		}
	}
	section .container{
		flex-direction: column;
		align-items: center;
		h3{
			text-align: center;
		}
	}
	section .s-left, section .s-right{
		width: 100%;
		padding: 20% 0 0;
	}
	section .s-left .content p:last-child{
		margin-bottom: 0;
	}		
}