@import "normalize";
@import "palette";

@mixin border-radius($radio){
	-ms-border-radius: $radio;
	-webkit-border-radius: $radio;
	-moz-border-radius: $radio;
	-o-border-radius: $radio;
	border-radius: $radio;
}

@mixin box-shadow($x, $y, $blur, $color-box) {
	-ms-box-shadow: $x $y $blur $color-box;	
	-webkit-box-shadow: $x $y $blur $color-box;
	-moz-box-shadow: $x $y $blur $color-box;
	-o-box-shadow: $x $y $blur $color-box;
	box-shadow: $x $y $blur $color-box;
}

@mixin btn($diametro, $color){
	display: inline-block;
	width: $diametro;
	height: $diametro;
	@include border-radius(50%);
}

*{
	box-sizing: border-box;
}

html, body{
	min-height: 100%;
}

html{
	background: $ba-secondary;
	-webkit-font-smoothing: antialiased;
}

body{
	min-width: 300px;
	margin: auto;
	flex-direction: column;
	font-family: 'Roboto Condensed', sans-serif;
}

body, section, footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container{
	width: 80%;
	margin: auto;
}

.top, .bottom{
	height: 100vh;
}

.arrow{
	height: 24px;
	margin: 19px;
	fill: $ba-secondary;
}

.y-float {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.y-float:hover, .y-float:focus, .y-float:active{
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.top{
	background: linear-gradient(45deg, $ba-secondary, #46BCD1);
	width: 100vw;
	min-height: 600px;
	text-align: center;
	color: #fff;
	font-weight: 300;
	.container{
		.logo{
			fill: #fff;
			user-select: none;
			width: 300px;
			margin: 62px 0;
		}
		h1{
			font-size: 30px;
			font-weight: 300;			
			margin-bottom: 32px;
		}
		.btn-fill{
			user-select: none;
			@include btn(65px,#fff);
			background: #fff;
			@include box-shadow(0, 8px, 8px, rgba(0, 0, 0, .2));
			border: 1px solid #fff;			
			cursor: pointer;
			transition: all .2s ease-in-out;
		}
	}	
}

.main{
	display: flex;
	background: #fff;
	flex-grow: 1;
	.container{
		display: flex;
		justify-content: space-between;
	}
	h3{
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 14px;		
		font-weight: 700;
		color: $ba-text;		
		margin-bottom: 46px;
	}
	.about, .contact{
		padding: 20px 0;
		display: inline-block;
	}
	.about{
		width: 50%;
		.content{
			p{
				font-size: 18px;
				line-height: 24px;
				font-weight: 300;
				color: $ba-primary;
				margin-bottom: 20px;
				display: inline-block;
			}
			:first-child{
				margin-bottom: 0;
			}
		}	
	}
	.contact{
		width: 40%;
		form{
			display: flex;
			flex-direction: column;
		}
	}
	form{
		.info{
			position: relative;
			height: auto;
		}
		label{
			position: absolute;
			left: 0;
			top: 18px;
			font-size: 16px;
		    font-weight: 300;
		    color: rgba($ba-primary, .5);
		    transition: all 0.2s ease;
		}
		.vi-text:focus + label, .vi-text.vi-not-empty + label{
    		transform: translate(0, -20px);
    		font-size: 12px;
    	}	
		input{
			margin-bottom: 8px;
			height: 40px;
		}
		input, textarea{
			width: 100%;
			font-family: 'Roboto Condensed', sans-serif;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 1px solid rgba($ba-primary, .5);
			outline: none;
			transition: all .3s ease;
			color: $ba-primary;
			font-size: 16px;
			font-weight: 400;
			&:focus{
				border-bottom: 1px solid $ba-pop;
			}
		}
		textarea{
			position: relative;
			top: 40px;
			resize: none;
		}
		input[type=submit]{
			display: none;
		}
		.btn-outline{
			position: relative;
			margin: 50px 0 0;
			cursor: pointer;
			@include btn(65px,none);
			border: 1px solid $ba-secondary;
			.arrow{
				transform: rotate(-90deg);
				transition: all .3s ease;
				&:hover{
					transform: rotate(270deg);
				}
			}
		}
	}
}

footer{
	color: #fff;
	width: 100vw;
	text-align: center;
	.iso{
		fill: #fff;
		width: 35px;
		user-select: none;
		margin-top: 25px;
	}
	p{
		font-size: 12px;
		font-weight: 400;
		margin: 10px 0 25px;
	}
}


@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.top .container{
		.logo{
			width: 250px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	.top .container{
		h1{ 
			font-size: 38px;
			line-height: 46px;
			.media-br{
				display: block;
			}
		}	
	}
	.bottom .container{
		flex-direction: column;
		align-items: center;
		h3{
			text-align: center;
			font-size: 20px;
			margin-bottom: 26px;
		}
	}
	.bottom .about, .bottom .contact{
		width: 100%;
	}
	.bottom .about .content p{
		margin-bottom: 12px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 300px) and (max-width: 767px) and (orientation: landscape){
	.top{
		min-height: 300px;
	}
	.top .media-hide{
		display: none;
	}
	.top .container{
		.logo{
			width: 150px;
			margin: 30px 0;
		}
		h1{
			font-size: 24px;
			line-height: 30px;
		}
	}
	.bottom{
		height: 100%;
	}
	.bottom .container{
		flex-direction: column;
		align-items: center;
		h3{
			text-align: center;
			margin-bottom: 16px;
		}
	}
	.bottom .about, .bottom .contact{
		width: 100%;
	}
	.bottom .about .content p{
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 22px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.bottom .contact form{
		textarea{
			height: 100px;
		}
		.btn-outline{
			@include btn(45px,none);
			.arrow{
				height: 18px;
				margin: 13px;
			}
		}
	}
	footer{
		.iso{
			display: none;
		}
		p{
			margin: 10px 0;
		}
	}
}

@media screen and (min-width: 300px) and (max-width: 767px) and (orientation: portrait){	
	.top .media-hide{
		display: none;
	}
	.top .container{
		.logo{
			width: 150px;
			margin: 30px 0;
		}
		h1{
			font-size: 24px;
			line-height: 30px;
		}
	}
	.bottom{
		height: 100%;
	}
	.bottom .container{
		flex-direction: column;
		align-items: center;
		h3{
			text-align: center;
			margin-bottom: 16px;
		}
	}
	.bottom .about, .bottom .contact{
		width: 100%;
	}
	.bottom .about .content p{
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 22px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.bottom .contact form{
		.btn-outline{
			@include btn(45px,none);
			.arrow{
				height: 18px;
				margin: 13px;
			}
		}
	}
	footer{
		.iso{
			display: none;
		}
		p{
			margin: 10px 0;
		}
	}	
}